@import 'meyer_reset';
$real-small: 400px;
$on-palm: 700px;
$on-laptop: 900px;
@mixin media-query($device) {
  @media screen and (max-width: $device) {
  @content;
  }
}
html {
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
  font-size: 17px;
  letter-spacing: 3px;
  height: 100%;
}

body {
 height: inherit;
 box-sizing: border-box;
 padding: 25px;
  @include media-query($on-palm) {
    padding: 15px;
  }
 @include media-query($real-small) {
    padding: 10px;
  }

}
h2 {
    background-color: rgba(0,0,0,0.2);
    font-weight: 0;
    letter-spacing: 10px;
    text-align: left;
    height: 1px;
    padding: 10px;
    margin-bottom: 25px;
    width: 50%;
  }
h3 {
    background-color: rgba(0,0,0,0.2);
    font-weight: 0;
    letter-spacing: 10px;
    text-align: left;
    height: 1px;
    padding: 10px;
    margin-bottom: 25px;
    min-width: 50%;
}
.main-border {
  box-sizing: padding-box;
  min-height: 100%;
  border: 4px solid black;
   a {
    text-decoration: none;
    color: rgba(0,0,0,1);
    font-weight: 700;
    &:hover {
      text-decoration: underline;
      background-color: rgba(255,255,0,0.2);
    }}
}

h1, h2, h3, h4, h5, nav, button {
  font-family: "Arial Black";
  text-transform: uppercase;
}

.logo {
  top: 15vh;
  left: 10vw;
  z-index: -1;
  position: fixed;
  img {
    height: 80vh;	
    position: absolute;
    width: auto;
    z-index: -10;
  }
  @include media-query($on-palm) {
    img {
      height: 80vw; 
    }
    left: 3vw;
}}
.back-body{
  height: 100%;  
 .logo-filter {
    top: 10vh;
    left: 20vw;
    z-index: -2;	
    position: fixed;
    height: 80vh;
    width: 80vw;
  }
  header {
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%;
      z-index: 1;
      text-transform: uppercase;
      h1 {
	background-color: rgba(255,255,255,1);
	padding-left: 11px;
	text-align: center;
        display: inline-block;
	span.top-title {
	  font-size: 30px;
	}}
      nav {
	display: inline-block;
	ul li {
	  margin: 20px;
	}}}}
.back-body{
  img {
    filter: contrast(3);
}}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: "Arial Black";
  text-transform: uppercase;
  .title-nav {
    width: 600px;
    &:hover {
	h1 { 
	  background-color: rgba(150,10,10,0.2);
	}
	li {
	  text-decoration: underline;
	  background-color: rgba(10,0,150,0.2);
	}
	.links {
	   li {
	    &:hover {
	      background-color: rgba(255,255,0,0.2);
	    }}}}}
  a {
    text-decoration: none;
    color: rgba(0,0,0,1);
  }
  h1 {
     background-color: rgba(255,255,255,1);
     padding-left: 11px;
     text-align: center;
     display: inline-block;
     border: 6px solid black;
     letter-spacing: 20px;
     font-size: 20px;
     line-height: 60px;
     span.top-title {
       font-size: 30px;
     }}
  nav {
    letter-spacing: 10px;
    text-align: right;
    line-height: 40px;
    display: inline-block;
    .links {
      display: inline-block;
    }
    .menu-icon {
      display: none;
    }
    ul {
      li {
       margin: 20px;
}}}

.front-page {
  .header-wrap {
    min-width: 80%;
    height: 800px;
    .title-nav {
      margin: 0 auto;
      margin-top: 30vh;
      nav {
	width: 200px;
      }
}}}

.back-page {
  .header-wrap {
    background-color: rgba(255,255,255,1);
    margin: 0;
    padding: 0;
    min-width: 80%;
    max-width: 800px;
    .title-nav {
      margin: 0 auto;
      display: block;
      nav {
        line-height: 20px;
	font-size: 15px;
      }
      h1 {
	letter-spacing: 15px;
	font-size: 20px;
	line-height: 40px;
	width: 300px;
      }
      &:hover {
	h1 {
	  background-color: rgba(255,255,255,1);
	}
}}}}}
@include media-query($on-palm) {
  header {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    .header-wrap {
      .title-nav {
	display: block;
	width: 100%;
	text-align: center;
      	h1 {
	  border-bottom: 6px solid black;
	  border-top: 6px solid black;
	  width: 100vw;
      	  letter-spacing: 19px;
      	  font-size: 15px;
	  line-height: 50px;
      	  span.top-title {
      	    font-size: 23px;
	    letter-spacing: 22px;
      	  }}}}
  nav {
    display: inline-block;
    margin: auto; 
    ul li {
      margin: 20px;
      padding: 10px;
    }
    letter-spacing: 10px;
    text-align: center;
    line-height: 40px;
  }}
.back-page {
  nav {
    width: 100%;
  }
  .menu {
    width: 100%;
    box-shadow: 0px 8px 16 px 0 px rgba(0,0,0,0.2);
    border-bottom: 3px solid black;
  }
  .menu-icon {
    border-radius: 5px;
    padding: 7px;
    padding-bottom: 4px;
    background-color: rgba(0,0,0,1);
    margin-top: 30px;
    margin-right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 30;
  }
  .links {
    display: none;
    z-index: 25;
    width: 100%;
    top: 100px;
  }
  .menu:hover .links {
    display: block;
  }
}
}
@include media-query ($real-small){
   header {
    .header-wrap {
      .title-nav {
	display: block;
	width: 100%;
	text-align: center;
      	h1 {
	  border: 0px solid red;
	  border-bottom: 6px solid black;
	  border-top: 6px solid black;
	  width: 80vw!important;
      	  letter-spacing: 16px;
      	  font-size: 12px!important;
	  line-height: 40px;
      	  span.top-title {
      	    font-size: 18px;
	    letter-spacing: 20px;
}}}}}
.back-body {
  header {
    .header-wrap {
      .title-nav {
	text-align: left;
}}}}}
.schedule-page {
  ul li.schedule-nav{
      background-color: rgba(10,0,150,0.2);
  }
  ul li.contact-nav{
      background-color: rgba(255,255,255,1);
  }}
.contact-page {
  .content-list{
    ul li {
      line-height: 50px;
      letter-spacing: 3px;
    }
    .social-media {a {
      background-color: rgba(0,0,0,0)!important;
    }}
  }
  ul li.schedule-nav{
      background-color: rgba(255,255,255,1);
  }
  ul li.contact-nav {
      background-color: rgba(10,0,150,0.2);
  }}
.content {
  display: inline-block;
  padding: 20px;
  padding-top: 110px;
  width: 95%;
  @include media-query($on-palm){
    width:90%;
  }
}
.footer {
  font-size: 12px;
  display: inline-block;
  z-index: 40; 
  float: right;
  margin-right: 6vw;
  margin-top: 2px;
}
ul.errorlist {
  margin: 0;
  padding: 0;
}
.errorlist li {
  background-color: red;
  color: white;
  display: block;
  font-size: 10px;
  margin: 0 0 3px;
  padding: 4px 5px;
}
#contact-form{
    float: left;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  .field {
    padding: 10px;
  }
  table tr {
    height: 20px;
    td {
    vertical-align: middle;
    padding: 1px;
  }
  }
  &:hover {
    button {
      background-color: rgba(10,0,150,0.2);
    }
  }
  button {
    margin: 20px auto;
    width: 100%;
    min-width: 50%;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    line-height: 30px;
    letter-spacing: 7px;  
    transition: .2s ease-in-out;
    &:hover {
      cursor: pointer;
	background-color: rgba(255,255,0,0.2);
    }
  }
  

}
.content-list {
  padding: 20px;
  margin: 0 auto;
  
  ul {
    li {
    line-height: 30px;
  @include media-query($real-small) {
    line-height: 22px;
    font-size: 15px;
    }
  }
  }
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 9px;
   @include media-query($real-small) {
    font-size: 20px;
  }}
}
#col-1-2, #col-2-2 {
  display: inline-block;
  width: 45%;
  float: left;
}

.list-content, .list-bullet {
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}

.list-content {
  width: 75%;
}

.list-event {
  width: 100%;
  display: block;
  &:hover {
    a {
      background-color: rgba(10,0,150,0.2);
      &:hover {
	background-color: rgba(255,255,0,0.2);
      }
    }  

  }
}

#col-2-2 {
  ul {
  //  margin-left: 10%; 
  }
}

#col-1-2 {
  border-left: 8px solid #333;
  float: right;
  border-style: inset;
  ul {
    padding: 20px;
    letter-spacing: 1px;
  }
}


@include media-query($on-palm) {
 #col-1-2, #col-2-2 {
    width: 100%;
  }
}
#id_message {
  width: 100%;
}
@include media-query($on-palm) {
  table {
    font-size: 12px; 
  }
}
.social-media {
  img {
    border: 8px solid rgba(0,0,0,0);
    width: 50px;
    height: auto;
    margin-right: 25px;
    filter: none;
    &:hover {
      border: 8px solid rgba(255,255,0,0.2);
      border-radius: 5px;
      background-color: rgba(255,255,0,0.2);
    }
  }
  @include media-query($on-palm) {
   img {
      width:30px;
      margin-top: 20px;
      margin-right: 10px;
}}}

iframe {
  display: inline-block;
  margin: auto;
  padding: 20px;
  max-width: 360px;
  height: 202px;
}

.map-wrap {
  display: inline-block;
  border: 1px solid rgba(0,0,0,1);
}

blockquote {
  font-size: 30px;
  color: rgba(100,100,100,1);
  letter-spacing: 5px;
  line-height: 50px;
  @include media-query($real-small){
    font-size: 20px;
    line-height: 30px;
  }
}
.author {
  margin-top: 30px;
  float: right;
  color: rgba(100,100,100,1);
  letter-spacing: 4px;
  @include media-query($real-small){
    font-size: 12px;
  }
}

.list-event-date {
  margin-left: 8%;
  display: inline-block;
  font-size: 15px;
  @include media-query($real-small){
    font-size: 10px;
  }
}

.list-location {
  font-size: 15px;
  margin-left: 8%;
  display: inline-block;
@include media-query($real-small){
    font-size: 10px;
  }
}

.events {
    margin-bottom: 100px;
    @include media-query($on-palm){
      margin-bottom: 50px;
    }
  li {
//    margin: 5px;
    padding: 10px 0;
}}

.blurb {
  margin: 10px;
  padding: 20px;
  text-align: left;
  @include media-query($on-palm){
    padding: 10px;
    margin: 5px;
  }
}

.front-body {
    opacity: 0;
    transition: 0.5s ease-in;
}

#fade-blurb {
  opacity: 0;
  transition: 1s ease-in;
}

.non-list {
  margin-left: 10%;
}

.announcement {
  ul {
    //list-style: initial;
    margin-left: 20px;
    color: white; 
    padding: 10px; 
    //border: 1px solid red; 
    display: inline-block;
    margin: 20px;
    li {
      background-color: rgba(255,0,0,0.5);
      padding: 10px;
      line-height: 20px;
    }
  }
  }

.announcement-date {
  font-weight: 700;
}

.document-download {
  margin-bottom: 30px;
  img {
   height: 50px;
   width: 50px; 
   vertical-align: middle;
   display: inline-block;
  }
  span {
   display: inline-block;
   text-transform: uppercase;
   font-weight: 700;
  }
  .doc-icon, .doc-title {
    line-height: 70px;
  }
  &:hover {
    .expand-options-save {
	  background-color: rgba(10,0,150,0.2);
    } 
  }
}

/* download button start */
.expand {
  font-family: serif;
  margin-right: 20px;
  @include media-query($on-palm){
    margin-right: 10px; 
  }
}
.expand {
  display: inline-block;
}

.expand-options-save {
  line-height: 25px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  text-decoration: none;
  display: inline-block;
  padding: 2px 7px;
  transition: .2s ease-in-out;
  .icon {
    display: inline-block;
    width: 20px;
    margin-right: 15px;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(255,255,0,0.2)!important;
  }
}
.save-button {
	margin-left: 25px;
	.side {
		display: inline-block!important;
	}
	.down {
		display: none!important;
	}
	&:hover {
		.side {
			display: none!important;
		}
		.down {
			display: inline-block!important;
		}
	}
}
.save-button {
	margin-left: 25px;
	.side {
		display: inline;
	}
	.down {
		display: none;
	}
	&:hover {
		.side {
			display: none;
		}
		.down {
			display: inline;
		}
	}
}

#expand {
	&:hover {
		cursor: pointer;
	}
}

