{% extends "base.html" %}

{% block title %}Schedule{% endblock %}
{% block bodytype %}"back-body contact-page"{% endblock %} 
{% block content %}
<div id="col-1-2">
<form id="schedule" action="" method="post">

<div class="content-list">
<h2>Thank you!</h2>
<ul>
<li>We will respond to any inquiries as soon as possible. Please enjoy this great video!</li>
</ul>
</div>
</form>
</div>
<div id="col-2-2">
<ul>
<li><iframe src="https://www.youtube.com/embed/610UyQjrEV0" frameborder="0" allowfullscreen></iframe></li>
</ul></div>

{% endblock %}
